.navbar {
  min-height: 100px;
  
}

.uv-low{
  background-color: green;
}


.uv-moderate{
  background-color: yellow;
}

.uv-high{
  background-color: orange;
}

.uv-very-high{
  background-color: red;
}

.uv-extreme{
  background-color: purple;
}

#arrow{
  display: inline-block;
  transform: rotate(var(--angle));
  font-size: larger;
  
}

.hr-meteogram{
  font-size: x-small;
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0 0;
  border-top: 0.5px solid grey; 

}

.hr-meteogram img{
  max-width: 100%;
}

#forecastcards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 90%;
     
}

#five-days{
  padding:10px 0 0 20px
}

#today .card{
  width: 90%;

}